@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid">
    <div style="text-align:center">
        <img src="~/App/Imagenes/utc.png" height="300" width="300" />
        <br />
        <br />
        <h1>Examen 1 Programación VI</h1>
        <br />
        <h2>Juan Luis Mora Mora</h2>
        <br />


    </div>
</div>
