@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid">
    <div style="text-align:center">
        <h1>Examen 1 Programación VI</h1>
        <br />


    </div>
</div>
